*{
    text-align: center;
}

.buttons-div > button{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 20px;
    font-weight: 300;
    outline: none;
}

#gamefield {
    border: 1px solid black;
}
